flows/Add_Parts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Maintenance_Sheet</name>
        <label>Maintenance Sheet</label>
        <locationX>232</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>mmId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sheetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Required_Part_With_Maintenance_Sheet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Sheet</name>
        <label>Service Sheet</label>
        <locationX>432</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>ssId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sheetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Required_Parts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_sObject</name>
        <label>Check sObject</label>
        <locationX>219</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Service_Sheet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sheet_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Sheet_STD__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maintenance_Sheet</targetReference>
            </connector>
            <label>Sheet Type</label>
        </rules>
    </decisions>
    <interviewLabel>Add Parts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Parts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Required_Part_With_Maintenance_Sheet</name>
        <label>Create Required Part With Maintenance Sheet</label>
        <locationX>227</locationX>
        <locationY>521</locationY>
        <inputAssignments>
            <field>Maintenance_Reactive_Sheet__c</field>
            <value>
                <elementReference>mmId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>ProdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse__c</field>
            <value>
                <elementReference>Warehouse.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Required_Parts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Required_Parts</name>
        <label>Create Required Parts With Service Sheet</label>
        <locationX>431</locationX>
        <locationY>381</locationY>
        <inputAssignments>
            <field>Maintenance_Reactive_Sheet__c</field>
            <value>
                <elementReference>mmId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>ProdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Sheet__c</field>
            <value>
                <elementReference>ssId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse__c</field>
            <value>
                <elementReference>Warehouse.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Required_Parts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Add_Parts</name>
        <label>Add Parts</label>
        <locationX>227</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_sObject</targetReference>
        </connector>
        <fields>
            <name>RequiredPartProduct</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Required_Parts__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ProdId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warehouse</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Warehouse__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Warehouse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Required_Parts__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Add_Parts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>mmId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ssId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
