flows/HS_Survey_Send_By_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Survey_Date_Is_Greater_Than_12_Weeks</name>
        <label>Survey Date Is Greater Than 12 Weeks</label>
        <locationX>1002</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>survey_date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>surveysendcontact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>survey date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EngineerName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Technicians_Name_Service__c}),{!$Record.Technician_Name_Reactive__c} , {!$Record.Technicians_Name_Service__c})</expression>
    </formulas>
    <formulas>
        <name>surveycount</name>
        <dataType>Number</dataType>
        <expression>IF({!GetRelatedAccount.Survey_Count_HS__c}&gt;0, {!GetRelatedAccount.Survey_Count_HS__c}+1, 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SurveyCountContact</name>
        <dataType>Number</dataType>
        <expression>IF({!GetContactDetail.Survey_Count_HS__c}&gt;0,{!GetContactDetail.Survey_Count_HS__c}+1, 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>surveydate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>SurveyDateGreaterthan12weeks</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!GetRelatedAccount.Last_Survey_Date__c}) || FLOOR((TODAY() - {!GetRelatedAccount.Last_Survey_Date__c}) / 7) &gt; 12</expression>
    </formulas>
    <formulas>
        <name>surveysendcontact</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!GetContactDetail.Survey_Submitted_On_HS__c}) || FLOOR((TODAY() -{!GetContactDetail.Survey_Submitted_On_HS__c}) / 7) &gt; 12</expression>
    </formulas>
    <interviewLabel>HS Survey Send By Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HS Survey Send By Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContactDetail</name>
        <label>GetContactDetail</label>
        <locationX>717</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Date_Is_Greater_Than_12_Weeks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipping_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedAccount</name>
        <label>GetRelatedAccount</label>
        <locationX>584</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1320</locationX>
        <locationY>481</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipping_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Count_HS__c</field>
            <value>
                <elementReference>SurveyCountContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Engineer_HS__c</field>
            <value>
                <elementReference>EngineerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Submitted_On_HS__c</field>
            <value>
                <elementReference>surveydate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>882</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>GetRelatedAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
