flows/MR_Sheet_in_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigatetotherecord</name>
        <label>navigatetotherecord</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>c:navigatetotherecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>MRSheets.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigatetotherecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Parking_Cost</name>
        <label>Assign Parking Cost</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>MRSheets.Parking_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parkingcost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Comments_to_service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engineers_Report_to_Customer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_MR_Sheet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visit</name>
        <label>Assign Visit</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>MRSheets.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Site_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Site_Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Make__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Serial_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Locationn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Order_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Current_Purchase_Order_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Actual_Service_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Email_Confirmation_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CertificateEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Email_for_HQ_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Site__r.Test_Certificate_to_HQ_email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Order_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Current_Purchase_Order_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRSheets.Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit.Engineer2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MR_Sheets</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CertificateEmail</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!VisitEmail})),
    {!VisitEmail},
    {!SiteEmail}
)</expression>
    </formulas>
    <formulas>
        <name>Parkingcost</name>
        <dataType>Currency</dataType>
        <expression>{!Parking_Cost}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>MR Sheet in Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MR Sheet in Visit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_MR_Sheet</name>
        <label>Insert MR Sheet</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>navigatetotherecord</targetReference>
        </connector>
        <inputReference>MRSheets</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Visit</name>
        <label>Get Visit</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visits__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>MR_Sheets</name>
        <label>MR Sheets</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_Parking_Cost</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Order_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Order_No__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Technician__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Site__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Site_Contract__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Visit__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Email_Confirmation_To__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Customer_Contact__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Copy_Sheet_Email__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Email_for_HQ_Notification__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Make__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Model__c</objectFieldReference>
        </fields>
        <fields>
            <name>Parking_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Parking Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Serial_Number__c</objectFieldReference>
        </fields>
        <fields>
            <name>Engineers_Report_to_Customer</name>
            <fieldText>Engineers Report to Customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Start_Date_and_Time__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.End_Date_and_Time__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.All_parts_used_noted_above__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Re_Visit_Required__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Return_Visit_Reason__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Comments_to_Sales__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Internal_Notes__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Customer_s_Name__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Fire_Extinguisher_Service_complete__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Close_Visit__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MRSheets.Resend__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>MRSheets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Sheet_STD__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>MRSheets.Site__r.Visit_Confirmation_Email_to__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VisitEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Visit.Visit_Confirmation_Email_to__c</elementReference>
        </value>
    </variables>
</Flow>
