flows/Transefer_Parts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Stock_In_Target_WH</name>
        <label>Check Stock In Target WH</label>
        <locationX>574</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Stock_Not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_Availibility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrgtInventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Source_Serial_Number</targetReference>
            </connector>
            <label>Stock Availibility</label>
        </rules>
    </decisions>
    <description>New one</description>
    <dynamicChoiceSets>
        <name>WarehouseList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SrcWHId</elementReference>
            </value>
        </filters>
        <object>Warehouse__c</object>
        <outputAssignments>
            <assignToReference>TrgtWHId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Transefer Parts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transefer Parts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Source_Serial_Number</name>
        <label>Create Source Serial Number</label>
        <locationX>824</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>Create_Target_Serial_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Inventory__c</field>
            <value>
                <elementReference>SrcInvId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Source_Inventory.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty__c</field>
            <value>
                <elementReference>Transfer_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </inputAssignments>
        <object>Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Target_Serial_Number</name>
        <label>Create Target Serial Number</label>
        <locationX>978</locationX>
        <locationY>224</locationY>
        <inputAssignments>
            <field>Inventory__c</field>
            <value>
                <elementReference>TrgtInventory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TrgtInventory.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty__c</field>
            <value>
                <elementReference>Transfer_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </inputAssignments>
        <object>Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Source_Inventory</name>
        <label>Get Source Inventory</label>
        <locationX>260</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfert_Parts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SrcInvId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stock_From_Target_Warehouse</name>
        <label>Get Stock From Target Warehouse</label>
        <locationX>583</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Stock_In_Target_WH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempInventory.Warehouse__c</elementReference>
            </value>
        </filters>
        <object>Inventory__c</object>
        <outputReference>TrgtInventory</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Stock_Not_Exist</name>
        <label>Stock Not Exist</label>
        <locationX>586</locationX>
        <locationY>422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoStock</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(225, 13, 13);&quot;&gt;Stock Not Available In Chosen Target Warehouse &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfert_Parts</name>
        <label>Transfert Parts</label>
        <locationX>432</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Stock_From_Target_Warehouse</targetReference>
        </connector>
        <fields>
            <name>Stock_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Stock Summery:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Stock ID : &lt;/b&gt;{!Get_Source_Inventory.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Product  : &lt;/b&gt;{!Get_Source_Inventory.Product__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Available Quantity : &lt;/b&gt;{!Get_Source_Inventory.Total_Received__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Target_Warehouse</name>
            <choiceReferences>WarehouseList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Target Warehouse</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TragetWarehouseLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>WhseInventory.Location__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Target Warehouse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Transfer_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Transfer Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 31, 31);&quot;&gt;Transfer Quantity must be greater than 0 and less than received quantity.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR({!Transfer_Quantity}=0,{!Transfer_Quantity}&lt;0,{!Transfer_Quantity}&gt;{!Get_Source_Inventory.Total_Received__c})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Transfer_Qty</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>1</stringValue>
            </defaultValue>
            <fieldText>Transfer Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 47, 47);&quot;&gt;Input type must be number.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(ISNUMBER ({!Transfer_Qty}))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Source_Inventory</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>InventoryWRhse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
    <variables>
        <name>ListSerialNumber</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Transaction__c</objectType>
    </variables>
    <variables>
        <name>ProdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Source_Inventory.Product__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProdSupCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SrcInvId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SrcWHId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
    <variables>
        <name>TrgtInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
    <variables>
        <name>TrgtWHId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhseInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
</Flow>
